@import './colors';
@import './header';
@import './nanny-home';
@import './nanny-detail';
@import './forms';

html,
body {
  height: 100%;
}

.rpn-container {
  padding-top: 70px;
}

.nanny-link {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.btn {
  &.btn-rpn-main {
    border-color: $main-app-color;
    color: $main-app-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $main-app-color;
      border-color: $main-app-color;
      color: white;
      box-shadow: none;
    }
  }
}
